<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="UTF-8">
	<title>AGROBOT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css">

	<link rel="stylesheet" href="assets/style/theme.css">
</head>
 
<body>
	<div class="botui-app-container" id="avfabot">
		<bot-ui></bot-ui>
	</div>
	<script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
	<script src="https://unpkg.com/vue-toasted"></script>
	<script src="https://unpkg.com/botui/build/botui.min.js"></script>
	<script src="assets/core/cdabot.js"></script>
	<script src="assets/core/rivescript.js"></script>
	
</body>

</html>